<section id="home">
    <!-- BARRA COMPARTILHADA -->
    <%- include('./partials/barra') %>

      <!-- CONTEUDO GERAL HOME-->
        <div class="row" id="welcome">
            
              <!-- COLUNA 1 -->
            <div class="col">

            </div>

              <!-- COLUNA 2-->
            <div class="col">
                
            
                <a href="#contato">
                    <button type="button" class="btn btn-primary btn-lg" id="btnInicial">Contate-me</button>
                </a>

            </div>


        </div>


          <!-- SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>

</section>


  <!-- SEÇÃO SOBRE -->
<section id="sobre">

    <div class="contSobre">
        <h1>SOBRE <span class="formatText">MIM</span> </h1>
        <p id="pSobre">
            Meu nome é Fernando, e sou um profissional com uma trajetória diversificada e sólida em diferentes áreas, 
            incluindo Administração de Empresas, Contabilidade e Análise e Desenvolvimento de Sistemas. Com uma Pós-Graduação 
            em Gestão Financeira Avançada, adquiri uma base sólida em finanças e acumulei mais de 10 anos de experiência na área.

            Durante minha carreira na área financeira, tive a oportunidade de trabalhar em diversas empresas. Ao longo desses anos, 
            desenvolvi habilidades analíticas, tomada de decisões estratégicas 
            e gestão de recursos financeiros. No entanto, sempre senti uma paixão crescente pela tecnologia e pela programação.
        </p>

    </div>

</section>

<section id="trabalho">
    <h1><span class="formatText">MEU</span> TRABALHO</h1>
    <div class="colTrab1">
        <h2>FOTO</h2>

        <h3>Veja mais em:</h3>

        <h4>https://github.com/fernando10092</h4>

    </div>

    <div class="colTrab2">
        <h2>
            Site de Casamento
        </h2>
        <p id="pTrab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio porro et qui, 
            rerum provident quae quasi quam accusantium saepe cum culpa id error quibusdam facere? 
            Veniam repudiandae impedit totam?
        </p>
        
    </div>

</section>

<section id="contato">

    <h1>CONTATO</h1>

    <div class="formulario">

        <form action="" method="POST">


            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">NOME</label>
                <input name="nome" type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">E-MAIL</label>
                <input name="email" type="email" class="form-control" id="exampleFormControlInput2"
                    placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">TELEFONE</label>
                <input name="telefone" type="text" class="form-control" id="exampleFormControlInput2"
                    placeholder="(XX) XXXXX-XXXX">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">OBSERVAÇÃO</label>
                <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>



        </form>

        <br>
        <table>

            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">email</th>
                </tr>
            </thead>

            <tbody>


                <tr>

                    <th scope="row"> </th>
                    <th></th>

                </tr>



            </tbody>



        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>

<div id="infoContact">
   <h3>fernando100@windowslive.com</h3
   <h3>(11) 99537-0943</h3>
</div>

</section>