<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>MYSQL</h1>

    <table>
        <tr>
            <th>
                Nome

            </th>

        </tr>

        <tr>
            <td>

                Conteudo
            </td>

        </tr>

    </table>

    <script>

      
       "<%- init %>"


    </script>






</body>

</html>